@import 'reset.scss';

// variables
$white_smoke: rgb(180, 180, 180);
$black: black;
$blue-60: rgba(13, 54, 78, 0.6);
$green: green;

body{
    background: linear-gradient(60deg, black, teal);
    color: white;
}

p{
    font-size: 10px;
}

.container{
    display: flex;
    justify-content: center;
    place-items: center;
}

form{
    width: fit-content;
    height: fit-content;
    padding: 15px;
    background-color: $blue-60;
    border-radius: 1em;
    box-shadow: 0 0 10px white;
    flex-direction: column;
}

form div {
    width: 100%;
    margin: 10px 0;
}

input[name="submit"]{
    padding: 5px 15px;
    border-radius: 1em;
    border: none;
}

input[name="submit"]:hover {
    box-shadow: 0 0 10px white;
}

@import 'respansive.scss';